PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.tnvkhav.mongodb.net/tikhori_foods?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key
CLIENT_URL=https://tikhori.vercel.app
ADMIN_NAME=Tikhori Administrator
ADMIN_EMAIL=admin@tikhorifoods.com
ADMIN_PASSWORD=Tikhori@Admin2026
